
<html>
  <head>
    <script src="js/scripts/angular.min.js"></script>
    <script src="js/scripts/angular-ui-router.min.js"></script>
    <script src="js/scripts/angular-resource.min.js"></script>
    <script src="js/scripts/angular-local-storage.min.js"></script>

    <!-- app's js -->
    <script src="js/app.js"></script>
    <!-- Load services -->
    <script src="js/services/authInterceptorService.js"></script>
    <script src="js/services/authService.js"></script>
    <script src="js/services/partnerListService.js"></script>
    <script src="js/services/jwtManagerService.js"></script>
    <script src="js/services/claimService.js"></script>

    <!-- controller's js -->
    <script src="js/controllers/homeController.js"></script>
    <script src="js/controllers/partnerListController.js"></script>
    <script src="js/controllers/claimController.js"></script>
    <script src="js/controllers/loginController.js"></script>
  </head>
  <body ng-app="AngularQ">

    <a ui-sref="home">Home</a>
    <a ui-sref="partnersList">Partner List</a>
    <a ui-sref="claims">Claims</a>
    <div ng-controller='loginController'>
      <button id="doLogin" ng-hide="authentication.isAuth" ng-click="login()">Login</button>
      <button id="doLogout" ng-hide="!authentication.isAuth" ng-click="logOut()">Logout</button>
    </div>

    <div ui-view></div>

  </body>
</html>
