<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Claim Type</th>
                    <th>Claim Value</th>


                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="claim in claims">
                    <td>
                        {{ claim.ClaimType }}
                    </td>
                    <td>
                        {{ claim.ClaimValue }}
                    </td>


                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
