<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Partner ID</th>
                    <th>Partner Name</th>
                    <th>Logo</th>

                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="partner in partnersList">
                    <td>
                        {{ partner.PartnerId }}
                    </td>
                    <td>
                        {{ partner.PartnerName }}
                    </td>
                    <td>
                        {{ partner.LogoURI }}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
